/*
html의 모든 tag는 전부다 box model.
*/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: dimgray;
    background-image: url("../assets/bg_tx.svg");
    margin: 0px;
    height: 100%;
    /* 폰트 변경 */
    /* Noto Sans KR라는 폰트를 찾지 못하면
    sans-serif 폰트를 사용해라 */
    font-family: "Noto Sans KR", sans-serif;
}

.aside-menu {
    background-color: #fffc;
    position: fixed;
    width: 60%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: none;
}

.go-to-top {
    position: fixed;
    bottom: 12.5rem;
    right: 15.625rem;
    text-align: center;
    background-color: #FFF6;
    /* padding: 10px; */
    padding: 0.65rem;
    cursor: pointer;
}

.go-to-top p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.container {
    background-color: white;
    /* margin-left: 300px;
    margin-right: 300px; */
    /* margin: 10px 3px 20px 5px; */
    /* margin: 0 300px; */
    margin: 0 auto;
    /* width: 600px; */
    width: 50%;
    /* min-width: 344px; */
    min-width: 21rem;
    /* max-width: 600px; */
    max-width: 37.5rem;
    height: 100%;
}

/*
div {
    background-color: white;
}
*/

.header {
    position: fixed;
    /* width: 600px; */
    width: 50%;
    /* min-width: 344px; */
    min-width: 21rem;
    /* max-width: 600px; */
    max-width: 37.5rem;
    z-index: 2;
    top: 0;

    background-color: lightgray;
    /* width: 500px;
    border: 10px solid red;
    padding: 30px;
    margin: 100px; */
}

/* 브라우저가 336px보다 작다면 아래에 있는 스타일을 적용해라 */
/* @media(max-width: 21rem){ */

.hamburger {
    width: 2.3rem;
    vertical-align: middle;
    display: none;
}

.header-logo {
    /*rgb(254, 213, 10);*/
    background-color: #fed60a;

    position: relative;
}




.header-logo>div {
    background-image: url(../assets/common.1px.png);
}

.header-logo>div:nth-child(1) {
    width: 5px;
    height: 30px;
    background-position: -76px -30px;
    vertical-align: middle;
}

.header-logo>div:nth-child(2) {
    width: 82px;
    height: 35px;
    vertical-align: middle;
}

.header-logo>div:nth-child(3) {
    width: 38px;
    height: 29px;
    background-position: 0 -38px;
    position: absolute;
    right: 39px;
    top: 4px;
}

.header-logo>div:nth-child(4) {
    width: 33px;
    height: 29px;
    background-position: -40.6px -38px;
    position: absolute;
    right: 4px;
    top: 4px;
}


/* .header-logo-list-item:nth-child(2) {
    position: absolute;
    right: 3.56rem
}

.header-logo-list-item:last-child {
    position: absolute;
    right: 0.31rem;
} */

/* 이 방식이 정석이다.
.header-logo-list-item {
    display: inline-block;
    width: 49%;
}

.header-logo-list-item:last-child {
    text-align: right;
} 
*/

/* .header-logo-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
} */

/*
.header-logo-list-item {
    margin-right: 5px;
}
*/

/*
.header-logo-list-item:nth-child(3) {
    float: right;
}

.header-logo-list-item:nth-child(2) {
    float: right;
}

.header-logo-list-item:first-child {
    float: left;
    margin-left: 10px;
}
*/

.header-category {
    background-color: whitesmoke;
}

.header-category-list {
    padding: 0;
    margin: 0;
    text-align: center;
}

.header-category-list-item {
    display: inline-block;
    width: 40%;
    /* height: 40px; */
    /* padding: 13px; */
    padding: 0.8rem;
    /* font-style: italic; */
    /* text-align: center; */
}

.header-category-list-item:hover {
    font-weight: bold;
    color: #FF0000;
    text-decoration: underline;
}

.header-category-list-item:active {
    /* font-size: 300%; */
    font-size: 3rem;
}

.header-category-active-item {
    font-weight: bold;
    color: red;
    border-bottom: 0.18rem solid red;
}

.content {
    /* margin-top: 97.27px; */
    margin-top: 5rem;

    background-color: white;
    height: calc(100% - 6.125rem - 5.18rem - 3.375rem - 0.165rem);
}

.content-article {
    position: relative;

    background-color: white;
    /* padding: 10px; */
    /* padding-bottom: 10px; */
    padding-bottom: 0.625rem;
    margin: 0.625rem;
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; */
    margin-right: 0;
    /*border: 1px solid lightgray;*/
    border-bottom: 1px solid lightgray;
}

.content-article:first-child {
    margin-top: 0px;
    padding-top: 0.625rem;
}

.content-article:last-child {
    border-bottom: 0px;
}

.best-article {
    position: absolute;
    top: 0;
    right: 0.625rem;

    background-color: #F00;
    padding: 0.625rem;
    font-weight: bold;
    font-style: italic;
    color: #FFF;
}

.content-article-title {
    font-weight: normal;
    color: black;
    margin: 0;
}

.content-article-title-reply-count {
    color: coral;
    /* font-size: 15px; */
    font-size: 0.8rem;
}

.content-article-author-info-list {
    padding: 0;
    margin: 0;
    /* 폰트 변경 */
    /* PT Sans Narrow 폰트를 찾지 못하면
    Noto Sans KR 폰트를 사용하고
    Noto Sans KR 폰트를 찾지 못한다면
    sans-serif 폰트를 사용해라 */
    font-family: "PT Sans Narrow", "Noto Sans KR", sans-serif;
    font-weight: 700;
}

.content-article-author {
    color: brown;
    display: inline-block;
}

.content-article-author::after {
    content: "|";
    padding-left: 0.625rem;
    color: #DDDDDD;
}

.content-article-number {
    color: gray;
    display: inline-block;
}

.content-article-create-date {
    color: gray;
    display: inline-block;
}

.content-article-create-date::before {
    content: "|";
    padding-right: 0.625rem;
    color: #DDDDDD;
}

.search-area {
    padding: 0.625rem;
    text-align: center;
}

.search-form {
    background-color: #F001;
    padding: 0.625rem;
}

.search-title {
    font-weight: bold;
    vertical-align: middle;
}

.search-input {
    padding: 0.625rem;
    border-radius: 3px;
    border: 1px solid #CCC;
    vertical-align: middle;
}

.search-input:focus {
    outline: 0px;
}

.search-button {
    background-color: #1a1af7;
    padding: 0.5rem;
    border-radius: 0.18rem;
    border: 0px;
    color: #FFF;
    vertical-align: middle;
}

.paginator {
    background-color: lightgray;
    padding: 1.25rem 0;
    /*Paginator의 자식 엘리먼트(태그)들을 (수평)가운데 정렬한다.*/
    text-align: center;
}

.paginator-list {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.paginator-page-number {
    background-color: aliceblue;
    color: lightgray;
    padding: 0.625rem;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 0.31rem;
}

.paginator-active-page {
    color: red;
    border: 1px solid red;
}

.footer {
    background-color: black;
    color: gray;
}

.footer-button-area {
    text-align: center;
}

.footer-button-area-login-btn {
    background-color: darkgray;
    /* font-size: 20px; */
    font-size: 1.2rem;
}

.footer-copyright {
    text-align: center;
}

/*
a {
    color: #333333;
    text-decoration: none;
}
*/

/*링크 스타일을 변경*/
a:link {
    color: #333333;
    text-decoration: none;
}

/*방문한 적이 있는 링크 스타일 변경*/
a:visited {
    color: #0000FF;
}

/*링크를 클릭할 때의 스타일 변경*/
a:active {
    color: #FF0000;
}

/*링크에 마우스를 올렸을 때 스타일 변경*/
a:hover {
    font-weight: bold;
}

.clear-line {
    clear: both;
}

.regist-content {
    padding-top: 5rem;
}

.regist-form {
    border: 1px solid #888;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

.regist-form>.terms-agreement {
    width: 100%;
    height: 20rem;
    overflow: auto;
    /* 넘어가게 될 경우 스크롤을 생성 */
    border: 1px solid #888;
    border-radius: 1rem;
    padding: 1rem;
}

.regist-form input {
    display: block;
    margin: 1rem 2rem 1rem 0;
    padding: 1rem;
    width: 100%;
    border: 1px solid #aaa;
}

.regist-form input:focus {
    outline: 0;
}

.regist-form input[type="checkbox"] {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 1rem;
    height: 1rem;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    appearance: none;
}

.regist-form input[type="checkbox"]:checked {
    /* background-color: #ccc; */
    background-image: url(../assets/checked.webp);
    background-size: 1rem 1rem
}

.regist-form>button {
    display: block;
    margin: 1rem 2rem 1rem 0;
    padding: 1rem;
    width: 100%;
    border: 0;
    background-color: #fed60a;
}

.no-margin {
    margin: 0;
}

.underline {
    text-decoration: underline;
}

.bottom-border {
    border-bottom: 1px solid #aaa;
}

.h-margin-16 {
    margin: 1rem 0;
}

.inline-block {
    display: inline-block;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.w-half {
    width: 49%;
}