/* 
html의 모든 tag는 전부 다 box model이다.
*/
* {
    /* 모든 태그의 박스는 전부 border-box로 설정 */
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: dimgray;
    margin: 0;
    height: 100%;
}

.container {
    background-color: white;
    /* margin-left: 300px;
    margin-right: 300px; */
    /* margin: 10px 3px 20px 5px; */
    /* margin: 0 300px; */
    margin: 0 auto;
    width: 600px;
    height: 100%;
}

/* div {
    background-color: white;
} */

.header {
    background-color: lightgray;
    /* width: 500px;
    border: 10px solid red;
    padding: 30px;
    margin: 100px; */
}

.header-logo {
    /* background-color: yellow; */
    /* background-color: #fed50a; */
    background-color: #FED50A;
}

.header-logo-list {
    padding: 0;
    margin: 0;
}

.header-logo-list-item {
    display: inline-block;
}

.header-category {
    background-color: whitesmoke;
}

.header-category-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-category-list-item {
    display: inline-block;
    width: 40%;
    /* height: 40px; */
    padding: 13px;
    /* font-style: italic; */
}

.header-category-list-item:hover {
    font-weight: bold;
    color: #FF0000;
    text-decoration: underline;
}

.header-category-list-item:active {
    font-size: 300%;
}

.header-category-active-item {
    font-weight: bold;
    color: red;
    border-bottom: 3px solid red;
}

.content {
    background-color: white;
    /* height: 80%; */
    /* header, paginator, footer의 크기를 빼준다.*/
    height: calc(100% - 98px - 83px - 54px + 10px - 13px - 3px);
}

.content-article {
    background-color: white;
    /* padding: 10px; */
    padding-bottom: 10px;
    margin: 10px;
    margin-right: 0;
    /* border: 1px solid lightgray; */
    border-bottom: 1px solid lightgray;
}

.content-article:last-child {
    border-bottom: 0;
}

.content-article-title {
    font-weight: normal;
    color: black;
    margin: 0;
}

.content-article-title-reply-count {
    color: coral;
    font-size: 15px;
}

.content-article-author-info-list {
    margin: 0;
    padding: 0;
}

.content-article-author {
    color: brown;
    display: inline-block;
}

.content-article-author::after {
    content: "|";
    padding-left: 10px;
    color: #DDDDDD;
}

.content-article-number {
    color: gray;
    display: inline-block;
}

.content-article-create-date {
    color: gray;
    display: inline-block;
}

.content-article-create-date::before {
    content: "|";
    padding-right: 10px;
    color: #DDDDDD;
}

.paginator {
    background-color: lightgray;
    padding: 20px 0;
    /* Paginator의 자식 엘리먼트(태그)들을 (수평)가운데 정렬한다. */
    text-align: center;
}

.paginator-list {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

.paginator-page-number {
    background-color: aliceblue;
    color: lightgray;
    padding: 10px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
}

.paginator-active-page {
    color: red;
    border: 1px solid red;
}

.footer {
    background-color: black;
    color: gray;
}

.footer-button-area {
    text-align: center;
}

.footer-button-area-login-btn {
    background-color: darkgray;
    font-size: 20px;
}

.footer-copyright {
    text-align: center;
}

/* a {
    color: #333333;
    text-decoration: none;
} */

/* 링크 스타일을 변경 */
a:link {
    color: #333333;
    text-decoration: none;
}

/* 방문한 적이 있는 링크 스타일 변경 */
a:visited {
    color: #0000FF;
}

/* 링크를 클릭할 때의 스타일 변경 */
a:active {
    color: #FF0000;
}

/* 링크에 마우스를 올렸을 때 스타일 변경 */
a:hover {
    font-weight: bold;
}