/*뷰 포트(브라우저)의 크기가 21rem (336px) 보다 작다면
아래에 있는 스타일을 적용해라.*/
/* @media (max-width: 21rem) { */

/*뷰 포트(브라우저)의 크기가 78rem (1250px) 보다 작다면
아래에 있는 스타일을 적용해라.*/
@media (max-width: 78rem) {
    .go-to-top {
        display: none;
    }
}

@media (max-width: 25.75rem) {
    .search-title {
        display: block;
        margin-top: 1rem;
    }
    .search-input {
        width: 100%;
        margin-bottom: 1rem;
    }
    .search-button {
        display: block;
        width: 100%;
    }

    .best-article {
        top: 2rem;
    }

    .header-category-list {
        flex-direction: column;
    }

    .header-category-list-item {
        flex-basis: 100%;
        width: 100%;
    }

    .content {
        margin-top: 8.9rem;
    }

    .hamburger {
        display: inline-block;
    }

    .header-logo > div:nth-child(3),
    .header-logo > div:nth-child(4) {
        display: none;
    }

}