/*뷰 포트(브라우저)의 크기가 21rem (336px) 보다 작다면
아래에 있는 스타일을 적용해라.*/
/* @media (max-width: 21rem) { */

/*뷰 포트(브라우저)의 크기가 78rem (1250px) 보다 작다면
아래에 있는 스타일을 적용해라.*/
@media (max-width: 78rem) {
    .go-to-top {
        display: none;
    }
}

@media (max-width: 25.75rem) {

    .content-article {
        overflow: hidden;
    }

    .content-article:hover {
        .best-article {
            transform: rotate(-45deg) translate(2.0rem, 3.5rem) scale(2, 2);
        }
    }

    .best-article {
        width: 40%;
        text-align: center;
        padding: 0;
        transform: rotate(-45deg) translate(2.0rem, 3.5rem);
        transition: transform 0.2s;
    }

    .search-title {
        display: block;
        margin-top: 1rem;
    }
    .search-input {
        width: 100%;
        margin-bottom: 1rem;
    }
    .search-button {
        display: block;
        width: 100%;
    }

    .best-article {
        top: 2rem;
    }

    .header-category-list {
        flex-direction: column;
    }

    .header-category-list-item {
        flex-basis: 100%;
        width: 100%;
    }

    /* .content {
        margin-top: 8.9rem;
    } */

    .hamburger {
        display: inline-block;
    }

    .header-logo > div:nth-child(3),
    .header-logo > div:nth-child(4) {
        display: none;
    }

    .container {
        width: 100%;
    }

    .search-form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1rem 1fr) 2rem;
        gap: 0.5rem;
    }

    .search-form > input,
    .search-form > select,
    .search-form > label {
        margin: 0;
    }

}