.empty-div {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #000;
}

/* .float-exam > .empty-div */
/* float-exam 하위에 있는 empty-div에 스타일을 지정해라 */
.float-exam .empty-div {
    float: right;
    margin: 10px;
}

.float-exam .empty-div:nth-child(2) {
    float: left;
}

.clear-line {
    clear: both;
}