* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    width: 50rem;
    height: 50rem;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    gap: 1rem;
}

.grid > div:nth-child(2) {
    /* grid-column-start: 2;
    grid-column-end: 4; */
    /* grid-column: 2 / 4; */
    grid-column: 2 / -1;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    grid-row: 1 / 2;
}

.grid > div:nth-child(4) {
    /* 2번 column에서 시작해서 1개 합치기 */
    grid-column: 2 / span 1;
    /* 2번 column에서 시작해서 2개 합치기 */
    grid-row: 2 / span 2;
}

.grid > div:nth-child(5) {
    /* grid-column-start: 3;
    grid-column-end: 4; */
    /* grid-column: 3 / 4; */
    grid-column: 3 / -1;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    /* grid-row: 2 / 4; */
    grid-row: 2 / -1;
}