html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    /* 최솟값은 5rem이고 Contents가 커지면 자동으로 증가해라*/
    grid-template-rows: 5rem 1fr 1rem minmax(5rem, auto);
    height: 100%;
    gap: 1rem;
}

.grid > div {
    border: 1px solid #CCC;
}

/* header */
.grid > div:nth-child(1) {
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    background-color: #FFF;
}

/* sidebar1 */
.grid > div:nth-child(2) {
    position: sticky;
    top: 6rem;
    height: 30rem;
}

.grid > div:nth-child(3) {
    /* overflow: auto; */
}

/* sidebar2 */
.grid > div:nth-child(4) {
    position: sticky;
    top: 6rem;
    height: 30rem;
}

/* empty div */
.grid > div:nth-child(5) {
    grid-column: 1 / -1;
}

/* footer */
.grid > div:nth-child(6) {
    grid-column: 1 / -1;
}

.flex {
    display: flex;
    margin: 0;
    padding: 0;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.flex > li {
    list-style-type: none;
    margin: 1rem;
}

.flex > li:nth-child(1) {
    flex-grow: 1;
}

