.move-box {
    width: 10rem;
    height: 10rem;
    border: 1px solid #000;
    transition: transform 1s;
}

.move-box:hover {
    transform: translate(10rem, 10rem);
}

.change-color {
    width: 10rem;
    height: 10rem;
    background-color: #ff0;
    transition: background-color 0.5s;
}

.change-color:hover {
    background-color: #f00;
}

.move-change-color {
    width: 10rem;
    height: 10rem;
    background-color: #ff0;
    transition: background-color 0.5s, transform 1s;
}

.move-change-color:hover {
    transform: translate(10rem, 10rem);
    background-color: #f00;
}

.menu-item {
    width: 10rem;
    height: 10rem;
    border: 1px solid #000;
    position: relative;
}

.menu-item > div {
    width: 10rem;
    height: 10rem;
    background-color: #ff0;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.menu-item > div:hover {
    opacity: 1;
}